################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/monolithicapp/bin/Debug/net8.0
/monolithicapp/obj
